@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 86%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 80%;
  }
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

body {
  background: #6e76e514 !important;
  overflow-x: hidden;
}

.borderBottom {
  border-bottom: 3px solid #6e76e5;
}

.dark {
  color: #12163e;
}

.mainColor {
  color: #424ede;
}

input:focus {
  outline: none;
}

.outlinedBtn {
  border: 2px solid #424ede !important;
  min-width: 20px !important;
  padding: 7px 8px !important;
}

.outlinedBtn2 {
  border: 2px solid #424ede !important;
  min-width: 20px !important;
  padding: 5.5px 10px !important;
}

.wholePage .firstD {
  display: none;
  width: 300px;
}

.wholePage .secondD {
  width: 100%;
}

.wholePage .animation_class {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 1;
}

.wholePage .sidebar_container {
  margin-top: 7rem;
  background-color: #fff;
  position: fixed;
  left: 0%;
  height: 98.4%;
  width: 100%;
}

.wholePage .sidebar_container ul {
  position: fixed;
  width: 200px;
}

.wholePage .sidebar_container ul li {
  margin-bottom: 0.5rem;
  width: 200px;
}

.wholePage .sidebar_container ul li a div {
  font-size: 1.2rem;
  padding: 0.4rem 0rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 200px;
  color: #000;
}

.wholePage .sidebar_container ul li a div:hover {
  background: #424ede;
  color: #fff;
  border-radius: 4px;
}

.wholePage .sidebar_container ul li .active_nav div {
  background: #424ede;
  color: #fff;
  border-radius: 4px;
}

.wholePage .sidebar_container ul li.logout a div:hover {
  background: #c4183c !important;
  color: #fff;
  border-radius: 4px;
}

.header_container {
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 3px solid #6e76e5;
  z-index: 2;
}

.header_container .logo_container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_container .logo_container img {
  height: 40px;
  width: auto;
}

.header_container .nav_link {
  font-weight: 500;
}

.header_container .mainColor {
  letter-spacing: 0.8px;
}

.header_container .avatar {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 2px solid #6e76e5;
}

.header_container .nested_nav {
  position: absolute;
  top: 150%;
  left: -52%;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
          box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
  width: 210px;
  border-radius: 8px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
}

.header_container .nested_nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  margin-bottom: 1px;
  padding: 0.2rem 0.4rem 0.16rem 0.4rem;
  color: #12163e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header_container .nested_nav ul li:last-child {
  color: gray;
}

.header_container .nested_nav ul li:last-child:hover {
  background: #bb1035;
}

.header_container .nested_nav ul li:hover {
  background: #424ede;
  color: #fff;
  border-radius: 4px;
}

.states_container {
  padding-top: 7rem;
}

.states_container .states_card {
  -webkit-box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
          box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.states_container .states_card .title {
  color: #12163e;
}

.states_container .states_card h2 {
  color: #222870;
}

.states_container .upper_card:nth-child(1) .states_card {
  background: url(../assets/graph.PNG);
  background-position: bottom;
  background-repeat: no-repeat;
}

.states_container .upper_card:nth-child(1) .states_card .amount {
  color: #17c671;
}

.states_container .upper_card:nth-child(2) .states_card {
  background: url(../assets/graph2.PNG);
  background-position: bottom;
  background-repeat: no-repeat;
}

.states_container .upper_card:nth-child(2) .states_card .amount {
  color: #c4183c;
}

.states_container .upper_card:nth-child(3) .states_card {
  background: url(../assets/graph3.PNG);
  background-position: bottom;
  background-repeat: no-repeat;
}

.states_container .upper_card:nth-child(3) .states_card .amount {
  color: #17c671;
}

.states_container .upper_card:nth-child(4) .states_card {
  background: url(../assets/graph4.PNG);
  background-position: bottom;
  background-repeat: no-repeat;
}

.states_container .upper_card:nth-child(4) .states_card .amount {
  color: #17c671;
}

.chart_container h2 {
  color: #12163e;
}

.chart_container .charts {
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
          box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
  height: 400px;
  position: relative;
  padding: 3.8rem 0rem 0.8rem;
}

.chart_container .charts .charts_btn {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 3.4%;
  padding: 0rem 2.5rem 0rem 1.2rem;
}

.chart_container .charts .charts_btn .btn_container {
  border: 2px solid #424ede;
  border-radius: 6px;
}

.chart_container .charts .charts_btn .btn_container button {
  width: 80px;
  border: none;
  background: none;
  font-size: 0.8rem;
  padding: 0.2rem 0rem;
}

.chart_container .charts .charts_btn .btn_container button.active_btn {
  background-color: #424ede;
  color: #fff;
}

.links_container {
  /* Rounded sliders */
  /* Rounded sliders */
}

.links_container .links_btn_container .inner_btn {
  border: 2px solid #424ede;
  border-radius: 4px;
}

.links_container .links_btn_container .inner_btn .MuiButton-root {
  min-width: 0px;
}

.links_container .links_btn_container .btn:nth-child(1) {
  background-color: #424ede;
  color: #fff;
}

.links_container .links_btn_container .btn:nth-child(2) {
  border-radius: 50%;
  padding: 0.4rem 0.7rem 0.6rem 0.7rem !important;
  border: 2px solid #424ede;
  color: #424ede;
}

.links_container .links_btn_container .btn:nth-child(3) {
  border-radius: 50%;
  padding: 0.6rem 0.7rem 0.42rem 0.7rem !important;
  border: 2px solid #424ede;
  color: #424ede;
}

.links_container .hastageIcon {
  background-color: #222870;
  color: #fff;
  -webkit-box-shadow: 1px 1px 6px #6e76e59a;
          box-shadow: 1px 1px 6px #6e76e59a;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links_container .secondIcon path {
  -webkit-box-shadow: 1px 1px 6px #6e76e59a;
          box-shadow: 1px 1px 6px #6e76e59a;
}

.links_container .hastageIcon.icon1 {
  color: #fff;
  background-color: #424ede;
}

.links_container .linkRow {
  background-color: #fff;
}

.links_container .col-12 .linkRow {
  -webkit-box-shadow: 1px 1px 8px rgba(34, 40, 112, 0.2);
          box-shadow: 1px 1px 8px rgba(34, 40, 112, 0.2);
}

.links_container .col-12:first-child .linkRow {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.links_container .col-12:last-child .linkRow {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.links_container .graphNumber {
  background: #636363;
  border-radius: 5px;
  padding: 0rem 0.2rem 0rem 0.4rem;
  color: #fff;
}

.links_container .switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;
  margin-top: 6px;
}

.links_container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.links_container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.links_container .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.links_container input:checked + .slider {
  background-color: #424ede;
}

.links_container input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #424ede;
          box-shadow: 0 0 1px #424ede;
}

.links_container input:checked + .slider:before {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.links_container .slider.round {
  border-radius: 2px;
}

.links_container .slider.round:before {
  border-radius: 2px;
}

.links_container .tableStart {
  background-color: #fff;
}

.filteration {
  background-color: #fff;
  top: 100%;
  right: 0%;
  width: 280px;
  height: 400px;
  overflow: auto;
  -webkit-box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
          box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
  border-radius: 8px;
  z-index: 99;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.filteration::-webkit-scrollbar {
  width: 6px;
}

.filteration::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #424fde98;
          box-shadow: inset 0 0 5px #424fde98;
}

.filteration::-webkit-scrollbar-thumb {
  background: #424ede;
  border-radius: 4px;
}

.filteration::-webkit-scrollbar-thumb:hover {
  background: #424ede;
}

.footer {
  background-color: #fff;
  margin-top: 6rem;
  padding: 4rem 0rem;
  -webkit-box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
          box-shadow: 1px 1px 10px rgba(34, 40, 112, 0.2);
  border-top: 3px solid #6e76e5;
}

.footer .logo {
  width: 150px;
  height: auto;
}

.report_table_container {
  margin-top: 7rem;
  /* Rounded sliders */
  /* Rounded sliders */
}

.report_table_container .switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;
  margin-top: 6px;
}

.report_table_container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.report_table_container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.report_table_container .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.report_table_container input:checked + .slider {
  background-color: #424ede;
}

.report_table_container input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #424ede;
          box-shadow: 0 0 1px #424ede;
}

.report_table_container input:checked + .slider:before {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.report_table_container .slider.round {
  border-radius: 2px;
}

.report_table_container .slider.round:before {
  border-radius: 2px;
}

.report_table_container .tableStart {
  background-color: #fff;
}

.report_table_container thead tr th {
  background-color: #424ede;
}

.report_table_container thead tr th:first-child {
  border-top-left-radius: 15px;
}

.report_table_container thead tr th:last-child {
  border-top-right-radius: 15px;
}

table {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 10px #dfdfdf;
          box-shadow: 1px 1px 10px #dfdfdf;
}

table tbody tr:nth-child(even) {
  background-color: #424fde13;
}

.table100 {
  min-width: 100%;
  overflow-x: auto;
}

.table100.ver1 th {
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.column100.column1 {
  width: 100px;
  padding-left: 42px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
}

th {
  text-align: left;
}

.table100.ver1 td {
  font-size: 14px;
  color: gray;
  line-height: 1.4;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

.calender_container {
  height: 100vh;
}

.calender_container .react-calendar {
  width: 530px;
  max-width: 100%;
  background: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5em;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 20px #1322c721;
          box-shadow: 1px 1px 20px #1322c721;
}

.calender_container .react-calendar__tile--active:enabled,
.calender_container .react-calendar__tile--active:enabled {
  background-color: #424ede;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.calender_container .react-calendar__tile--active:enabled:hover,
.calender_container .react-calendar__tile--active:enabled:focus {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #424ede;
}

.calender_container .react-calendar__tile--now {
  background-color: #2636e9b9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  color: #fff;
}

.calender_container .react-calendar__tile:enabled:hover {
  background-color: #424ede;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  color: #fff;
}

.calender_container .react-calendar__navigation {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background-color: #424ede;
}

.calender_container .react-calendar__month-view__weekdays__weekday {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 0.8rem;
}

.calender_container button.react-calendar__navigation__label {
  color: #fff;
}

.calender_container .react-calendar__navigation {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 0rem;
}

.calender_container .react-calendar__navigation button,
.calender_container .react-calendar__month-view__weekdays {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.calender_container .react-calendar__navigation button:enabled:hover,
.calender_container .react-calendar__navigation button:enabled:focus {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #424ede;
}

.calender_container .react-calendar__navigation__prev2-button {
  border-top-left-radius: 10px !important;
  background-color: #424ede;
  color: #fff;
}

.calender_container .react-calendar__navigation__next2-button {
  border-top-right-radius: 10px !important;
  background-color: #424ede;
  color: #fff;
}

.calender_container .react-calendar__navigation__arrow,
.calender_container .react-calendar__navigation__prev-button {
  color: #fff;
}

@media screen and (min-width: 1250px) {
  .wholePage .firstD {
    display: block;
  }
  .header_container .burger_container {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .MuiDialog-paperWidthSm {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .header_container .logo_container img {
    height: 35px;
  }
  .chart_container .charts {
    height: 450px;
  }
  .chart_container .charts {
    padding: 6.2rem 0rem 0.8rem;
  }
  .filteration {
    right: -280%;
  }
  .header_container .nested_nav {
    right: 0%;
    left: auto;
  }
  .header_container .nav_link {
    font-size: 1.1rem;
  }
  .header_container .nested_nav {
    width: 172px;
  }
  .calender_container .react-calendar {
    width: auto;
  }
}

@media screen and (max-width: 575px) {
  .states_container {
    padding-top: 6rem;
  }
  .chart_container .charts {
    height: 340px;
  }
  .header_container .avatar {
    height: 22px;
    width: 22px;
  }
  .chart_container .charts .charts_btn {
    padding: 0rem 1.2rem 0rem 1.2rem;
  }
  .links_container .elipsesLink {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 144px;
    white-space: nowrap;
  }
  .links_container .switch {
    margin-top: 2px;
  }
  .footer {
    margin-top: 4rem;
    padding: 2rem 0rem;
  }
  .footer .logo {
    width: 120px;
  }
}
/*# sourceMappingURL=style.css.map */